<div>
  <h3>{{title}}</h3>
  <p class="mt-5 fst-italic">{{note}}</p>
  <form class="row g-3">
    <div class="col-auto">
      <label for="inputPassword2" class="visually-hidden">Enter array</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Enter array" name="number"
        [(ngModel)]="elements" />
      <label for="" class="fst-italic mt-3 text-center fw-bold">{{result}}</label>

    </div>
    <div class="col-auto">
      <button type="submit" (click)="minArray()" class="btn btn-primary mb-3">min Element</button>
    </div>
    <div class="col-auto">
      <button type="submit" (click)="maxArray()" class="btn btn-primary mb-3">max Element</button>
    </div>
    <div class="col-auto">
      <button type="submit" (click)="reverseArray()" class="btn btn-primary mb-3">reverseArray</button>
    </div>
    <div class="col-auto">
      <button type="submit" (click)="sizeOfArray()" class="btn btn-primary mb-3">Size Of Array</button>
    </div>
    <div class="col-auto">
      <button type="submit" (click)="oddArrayElement()" class="btn btn-primary mb-3">odd Element</button>
    </div>
    <div class="col-auto">
      <button type="submit" (click)="evenArrayElement()" class="btn btn-primary mb-3">even Element</button>
    </div>
    <div class="col-auto">
      <button type="submit" (click)="clear()" class="btn btn-primary mb-3">clear</button>
    </div>


    <div class="container mt-4">
      <span class="p-3 m-3 text-dark border-dark border fw-bold" style="background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);" *ngFor="let item of array">
          <span>{{item}}</span>
      </span>
    </div>
  </form>
</div>

