<!-- <nav class="nav">
  <h1>E-Com</h1>
  <div class="nav-search">
    <input type="text" placeholder="search Products" />
    <button>Search</button>
  </div>
  <ul>
    <li><a href="#">Seller</a></li>
    <li><a href="#">Home</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Cart(0)</a></li>
  </ul>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand mx-5" href="#">E-Com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex w-50 mx-5 ">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-1">
          <a class="nav-link" routerLink="seller-auth">Seller</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" href="#">Cart(0)</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
